/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header styles */
header {
    background:  #302b63;
    color: #fff;
    padding: 1rem 0;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Services section styles */
.services_section {
    padding: 2rem 0;
    text-align: center;
    background-color: #302b63; /* Change background color */
}

.services_text {
    color: #fff;
}

/* Login section styles */
.login_section {
    padding: 2rem 0;
    background-color: #f4f4f4;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #302b63;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    color: #302b63;
    font-weight: bold;
}

.custom-combo-box {
    width: 50%;
    height: 1cm;
    background-color: #302b63;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.2cm;
    font-size: 1em;
}

.custom-combo-box option {
    background-color: #302b63;
    color: white;
}

.btn-primary {
    background-color: #302b63;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #573b8a;
}

a {
    color: #302b63;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background: #302b63;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
